[submodule "lib/seaport-types"]
	path = lib/seaport-types
	url = https://github.com/projectopensea/seaport-types
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
